<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:300&display=swap"
      rel="stylesheet"
    />
    <script src="https://code.jquery.com/jquery-3.0.0.js"></script>
    <script defer src='diagramm.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script defer src="index.js"></script>

    <link href="./css/index.css" rel="stylesheet" />

    <title>VTB</title>
  </head>
  <body>
    <div id="app1" class="container-fluid">
      <nav
        class="navbar sticky-top navbar-dark row"
        style="background-color: #0a2896;"
      >
        <a class="navbar-brand" href="#!">ВТБ Голосование</a>
      </nav>
      <div class="p-2">
        <h4><strong><img src="icons/logo.png" width='100px' alt="logo" /> Протокол собрания</strong></h4>
        <div><strong>Дата:</strong> {{ date }}</div>
        <div><strong>Тема дня: </strong> {{ topic }}</div>

        <div>
          <strong
            >Совокупность долей участников, присутствующих на общем
            собрании:</strong
          >
          <p>{{ percent }}</p>
        </div>
        <div>
          <strong>Список участников:</strong>
          <div>
            <ol>
              <li v-for="todo in todos">
                {{ todo.name }}
              </li>
            </ol>
          </div>
        </div>
        <div>
          <strong>Комментарии по теме:</strong>
          <div>
            <ol>
              <li v-for="todo in comment">
                {{ todo.text }} {{todo.name}}
              </li>
            </ol>
          </div>
        </div>

        <div class='form'>
          <strong>Результаты голосования:</strong>
          <div>
            <ol>
              <li>За - {{ vote[0].yes }}%</li>
              <li>Против - {{ vote[1].no }}%</li>
              <li>Воздержался - {{ vote[2].quite }}%</li>
            </ol>
          </div>
          <div class="container"></div>
        </div>
        <div><strong>Решили:</strong> {{ decision }}</div>
        <div>
          <strong>Подпись:</strong>
          <span class="text-secondary">{{ signature }}</span>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
